<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
</head>
<body>
    <% if (!locals.user) { %>
        <p>Hello, please <a href="/login">Log In</a> or <a href="sign-up">Sign Up</a></p>
    <% } else { %>
        <% if (user.membership_status) { %>
            <p>
                Hello <%= user.username %>, you are part of the secret club!
                <% if (!user.admin) { %>
                    Would you like to become an <a href="/admin">admin</a>?
                <% } %>
            </p>
        <% } else { %>
            <p>Hello <%= user.username %>, would you like to <a href="/join-club">join the club</a>?</p>
        <% } %>
        <%- include("messages", { user: user, messages: messages }) %>
        <a href="/create-message">Create Message</a>
        <form action="/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
    <% } %>
</body>
</html>